{% extends "base.html.twig" %}

{% block title %} {% endblock %}

{% block body %}
    <h3>
        Nouvelle annonce
    </h3>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">
            Créer l'annonce
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}