{% extends "base.html.twig" %}

{% block title "DevCoin - Mes Annonces" %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Avatar</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td> {{ annonce.id }}</td>
                <td> {{ annonce.title }}</td>
                <td class="col-3"> {{ annonce.description }}</td>
                <td> {{ annonce.picture }}</td>
                <td style="white-space:nowrap;">
                    <a class="btn btn-primary btn-sm" href="{{ path('annonce_update',{id:annonce.id}) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" href="{{ path('annonce_delete',{id:annonce.id}) }} ">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('show_annonce',{id:annonce.id}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
        {% if annonces|length == 0 %}
            <tr>
                <td colspan="12" style="text-align: center">
                    <a class="btn btn-secondary" href="{{ path('annonce_new') }}">
                        <i class="fa fa-plus-square"></i>
                        Déposer une annonce
                    </a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}