<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('main') }}">DevCoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link mr-2" href="{{ path('annonce_new') }}">
                    <i class="fa fa-plus-square"></i>
                    Déposer une annonce
                </a>
            </li>
            <form class=" form-inline my-2 my-lg-0" action="{{ path('global_search') }}" method="post">
                <label>
                    <input class="form-control mr-sm-2" type="text" id="search" name="search" placeholder="Rechercher">
                </label>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">

                <a class="nav-link" href="#">
                    <i class="fa fa-bell"></i>
                    Mes recherches
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-heart"></i>
                    Favoris
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope"></i>
                    Messages
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item  active dropdown">

                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="https://i.pravatar.cc/150?img=55" class="avatar avatar-mini" alt="Avatar de "/>
                        {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('annonce_new') }}" class="dropdown-item">
                            <i class="fa fa-plus-square"></i>
                            Déposer une annonce
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">
                            <i class="fa fa-user-circle"></i>
                            Mon compte
                        </a>
                        <a href="{{ path('annonce_show_all') }}" class="dropdown-item">
                            <i class="fa fa-bullhorn"></i>
                            Mes annonces
                        </a>
                        <a href="{{ path('user_update', {'id': app.user.id}) }}" class="dropdown-item">
                            <i class="fa fa-user-edit"></i>
                            Modifier mon profil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('user_logout') }}" class="dropdown-item">
                            <i class="fa fa-sign-out-alt"></i>
                            Déconnexion
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_login') }}">
                        <i class="fa fa-sign-in-alt"></i>
                        Se connecter
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container mt-2">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<div class="container mt-4"> {% block body %}{% endblock %}
</div>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}

{% endblock %}
</body>
</html>
