{% extends "base.html.twig" %}


{% block title "DevCoin - Connexion" %}

{% block body %}
    <form class="d-flex justify-content-center shadow p-3 mb-5 bg-black rounded"
          action="{{ path('user_login') }}"
          method="post"
    >
        <div class="col-7">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control {% if hasError %}is-invalid{% endif %}" name="_username"
                       id="email"
                       aria-describedby="emailHelp"
                       placeholder="Enter email"
                       value="{{ username }}"
                />
                {% if hasError %}
                    <small id="emailHelp" class="form-text text-danger">
                        Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide
                    </small>
                {% endif %}

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
            </div>
            <div class="mb-2">
                <a href="{{ path('registration_user') }}">
                    Registration now ?
                </a>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </div>
    </form>
{% endblock %}
